/AntonAndDanik.class
/AppleAndOrange.class
/BearAndBigBrother.class
/BeautifulMatrix.class
/BlackSquare.class
/BoyOrGirl.class
/BuyAShovel.class
/Games.class
/GravityFlip.class
/IsYourHorseshoeOnTheOtherHoof.class
/Magnets.class
/MergeTwoSortedLists.class
/NightAtTheMuseum.class
/PalindromeNumber.class
/PalindromeNumber2.class
/PetyaAndStrings.class
/PoliceRecruits.class
/RemoveElement.class
/ReverseInteger.class
/ReverseInteger2.class
/RomanToInteger.class
/SerejaAndDima.class
/Solution.class
/StonesOnTheTable.class
/Team.class
/Tests.class
/TwoSum.class
/VanyaAndFence.class
/Word.class
